<div class="section-hura-video">
  <video autoplay muted loop playsinline class="hurabg-video">
    <source src="https://cdn.shopify.com/videos/c/o/v/5aa21012eadf4c3e869fa04a6dc6db5d.mp4" type="video/mp4">
  </video>
</div>
{% schema %}
{
"name": "Frontvideo",
"settings": []
}
{% endschema %}

{% stylesheet %}
.section-hura-video{
  width:100%;
}
.hurabg-video{
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}